.cta {
  .container {
    @include mobile {
      padding-right: var(--container-offset);
    }
  }
  &__container {
    display: flex;
    gap: 6rem;
    @include mobile {
      flex-direction: column-reverse;
    }
  }
  &__title {
    margin-bottom: 4rem;
    @include mobile {
      margin-bottom: 2.5rem;
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 2.4rem;
    &:not(:last-child) {
      margin-bottom: 4rem;
      @include mobile {
        margin-bottom: 2.5rem;
      }
    }
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: 4rem;
      @include mobile {
        margin-bottom: 4.5rem;
      }
    }
  }
  &__content {
    width: 100%;
    max-width: 74rem;
  }
  &__img {
    position: relative;
    flex-grow: 1;

    mask-image: url("./../img/spec/spec-mask.svg");
    mask-size: auto 100%;
    mask-repeat: no-repeat;
    mask-position: left;
    @include mobile {
      height: 13rem;
      mask-image: url("./../img/svg/news-mask-mob.svg");
      mask-size: 100% 100%;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
