.footer {
  padding: 8rem 0;
  border-radius: 2rem 2rem 0 0;
  @include mobile {
    padding: 0 0 8rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__col {
    font-style: normal;
    max-width: 44.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5.6rem;

    font-weight: 300;
    font-size: 2.2rem;
    line-height: 150%;
    color: var(--black);
    @include mobile {
      max-width: 100%;
      gap: 3.5rem;
    }
    * {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
  .footer__col_nav {
    color: var(--grey4);
    @include mobile {
      color: var(--black);
      font-weight: 500;
    }
  }
  .footer-gray {
    color: var(--grey4);
    @include mobile {
      color: inherit;
    }
  }
}
