.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @include mobile {
    display: flex;
    flex-direction: column;
  }
  &__field {
    display: block;
    width: 100%;
    position: relative;

    &--long {
      grid-column: 2 span;
    }

    @include hover {
      input:not(:disabled) ~ .form__label {
        color: rgba(0, 0, 0, 0.45);
      }
      textarea:not(:disabled) ~ .form__label {
        color: rgba(0, 0, 0, 0.45);
      }
    }

    &-wrapper {
      display: block;
      height: 6rem;
      position: relative;
      border-radius: 1rem;
      outline: 2px solid transparent;
      background-color: var(--grey1);
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 150%;
      text-transform: lowercase;
      overflow: hidden;
      transition:
        color 0.3s ease-out,
        background-color 0.3s ease-out,
        outline-color 0.3s ease-in;
      &--area {
        height: 14rem;
      }
    }

    &.filled {
      .form__label {
        font-size: 1.4rem;
        transform: translateY(0.4rem);
      }
      .form__input {
        &--area {
          transform: none;
        }
      }
    }
  }

  &__label {
    position: absolute;
    z-index: 4;
    width: 100%;
    top: 0;
    left: 2rem;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 150%;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.25);
    transition: color 0.3s ease-out;
    transform: translateY(1.5rem);
    transition:
      transform 0.3s ease-in,
      font-size 0.3s ease-in,
      background-color 0.3s ease-in;
    pointer-events: none;
  }

  &__input {
    display: block;
    position: absolute;
    padding: 1.8rem 2rem 1.2rem;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 1rem;
    background: none;
    transition:
      transform 0.3s ease-in,
      background-color 0.3s ease-in;
    &:focus {
      outline: none;

      & ~ .form__label {
        font-size: 1.4rem;
        transform: translateY(0.4rem);
      }
    }
    &:disabled {
      cursor: not-allowed;
      touch-action: none;
      background-color: #e3e6e6;
    }
    &--area {
      resize: none;
      &:focus {
        transform: none;
      }
    }
  }

  &__btn {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    grid-column: 2 span;
    padding: 1.5rem 3rem 1.6rem;
  }

  &__extra {
    font-size: 1.8rem;
    width: 100%;
    grid-column: 2 span;
  }
}
