.trust {
  overflow: hidden;
  &__title {
    margin-bottom: 6rem;
    @include mobile {
      margin-bottom: 5rem;
    }
  }
  &__slider {
    overflow: visible;

    .swiper-slide {
      width: auto;
    }
  }
  &__card {
    height: 7.5rem;
    @include mobile {
      height: 5.5rem;
    }
    img {
      display: block;
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
}
