h1,
.h1 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--white);

  @include mobile {
    font-size: 5.2rem;
  }
}

h2,
.h2 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 566;
  font-size: 5rem;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--black);
  @include mobile {
    font-size: 4rem;
  }
}

h3,
.h3 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--black);
}

p,
.p {
  margin: 0;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--black);

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

a {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--black);

  transition: color 0.3s ease-in;

  @include hover {
    color: var(--red);
  }
  &:focus-visible {
    outline: none;
    color: var(--red);
  }
  &:active {
    color: var(--red);
  }
}
