:root {
  --font-family: "Noto Sans", sans-serif;
  --second-family: "Bounded", sans-serif;
  --content-width: 177rem;
  --container-offset: 8rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --red: #f30c1b;
  --red-hover: #f53d49;
  --black: #000;
  --white: #fff;
  --30black: #fff;
  --grey1: #ededed;
  --grey2: #d9d9d9;
  --grey3: #b3b3b3;
  --grey4: #8c8c8c;
}
@media (max-width: 576px) {
  :root {
    --container-offset: 3rem;
  }
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Bounded";
  src: url("../fonts/Bounded-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Bounded";
  src: url("../fonts/Bounded-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Bounded";
  src: url("../fonts/Bounded-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-size: 0.5208333333vw;
}
@media (min-width: 2560px) {
  .page {
    font-size: 13.3333333333px;
  }
}
@media (max-width: 576px) {
  .page {
    font-size: 1.7361111111vw;
  }
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
.container_no-pr {
  padding-right: 0;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

section.hero {
  padding: 5rem 0 12rem;
  margin-bottom: 10rem;
}
@media (max-width: 576px) {
  section.hero {
    padding: 20vh 0 3rem;
    margin-bottom: 7.5rem;
  }
}

section {
  padding: 10rem 0;
}
@media (max-width: 576px) {
  section {
    padding: 7.5rem 0;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--white);
  border: none;
  padding: 1.8rem 2.4rem;
  border-radius: 1rem;
  background-color: var(--red);
  cursor: pointer;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease-in;
  transition: color 0.3s ease, background-color 0.3s ease-in;
}
.btn_medium {
  font-weight: 500;
  padding: 1.1rem 4rem 1.3rem;
}
.btn_tri {
  font-family: var(--second-family);
  position: relative;
  border-radius: 0;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.btn_tri::after, .btn_tri::before {
  content: "";
  width: 2.5rem;
  height: 100%;
  background-color: var(--red);
  position: absolute;
  top: 0;
  -webkit-mask-image: url("./../img/svg/btn-mask.svg");
  mask-image: url("./../img/svg/btn-mask.svg");
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left bottom;
  mask-position: left bottom;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.btn_tri::before {
  right: calc(100% - 2px);
}
.btn_tri::after {
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
  left: calc(100% - 2px);
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: var(--red-hover);
    color: var(--white);
  }
  .btn:hover::after, .btn:hover::before {
    background-color: var(--red-hover);
  }
}
.btn:focus-visible {
  outline: none;
  background-color: var(--red-hover);
  color: var(--white);
}
.btn:focus-visible::after, .btn:focus-visible::before {
  background-color: var(--red-hover);
}
.btn:active {
  color: var(--white);
  background-color: var(--red);
}
.btn:active::after, .btn:active::before {
  background-color: var(--red);
}
.btn:disabled {
  background-color: var(--grey2);
  color: var(--grey3);
}
.btn_dark {
  background-color: var(--grey1);
  color: var(--black);
}
.btn_dark::after, .btn_dark::before {
  background-color: var(--grey1);
}
@media (any-hover: hover) {
  .btn_dark:hover {
    background-color: var(--black);
    color: var(--white);
  }
  .btn_dark:hover::after, .btn_dark:hover::before {
    background-color: var(--black);
  }
}
.btn_dark:focus-visible {
  outline: none;
  background-color: var(--black);
  color: var(--white);
}
.btn_dark:focus-visible::after, .btn_dark:focus-visible::before {
  background-color: var(--black);
}
.btn_dark:active {
  color: var(--white);
  background-color: var(--red-hover);
}
.btn_dark:active::after, .btn_dark:active::before {
  background-color: var(--red-hover);
}

@media (max-width: 576px) {
  .btn-nomob {
    display: none;
  }
}

.btn-mob {
  display: none;
}
@media (max-width: 576px) {
  .btn-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 3rem;
}
.heading:not(:last-child) {
  margin-bottom: 6rem;
}
@media (max-width: 576px) {
  .heading:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.card__img {
  border-radius: 2rem;
  overflow: hidden;
  height: 40rem;
}
.card__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.card__content {
  padding-top: 2rem;
}
.card__title {
  margin-bottom: 1.2rem;
}
.card__title a {
  color: inherit;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  .card__title a:hover {
    color: var(--red);
  }
}
.card__title a:focus-visible {
  outline: none;
  color: var(--red);
}
.card__title a:active {
  color: var(--red);
}
.card__subtitle {
  font-size: 2.4rem;
  font-weight: 500;
}
.card__subtitle:not(:last-child) {
  margin-bottom: 2rem;
}
.card_news .card__title {
  text-transform: initial;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2.4rem;
}
.card_news .card__img {
  height: 28rem;
}
.card time {
  display: block;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--grey4);
}

.slider-auto .swiper-slide {
  width: auto;
}

h1,
.h1 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 576px) {
  h1,
  .h1 {
    font-size: 5.2rem;
  }
}

h2,
.h2 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 566;
  font-size: 5rem;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--black);
}
@media (max-width: 576px) {
  h2,
  .h2 {
    font-size: 4rem;
  }
}

h3,
.h3 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--black);
}

p,
.p {
  margin: 0;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--black);
}
p:not(:last-child),
.p:not(:last-child) {
  margin-bottom: 1em;
}

a {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--black);
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--red);
  }
}
a:focus-visible {
  outline: none;
  color: var(--red);
}
a:active {
  color: var(--red);
}

.header {
  padding: 3rem 0;
  background-color: var(--white);
  border-radius: 0 0 2rem 2rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 576px) {
  .header {
    position: fixed;
    -webkit-box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.07);
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
  }
}
.header__logo {
  display: block;
  max-width: 14.8rem;
  height: 2.8rem;
}
@media (max-width: 576px) {
  .header__logo {
    height: 3.6rem;
    max-width: 6.3rem;
  }
}
.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: left;
  object-position: left;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 576px) {
  .header__btn {
    display: none;
  }
}

.burger {
  --burger-width: 3rem;
  --burger-height: 3rem;
  --burger-line-height: 0.4rem;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--red);
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 10px;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 10px;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header--fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header--hidden {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8rem;
}
.nav ul li a {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  color: var(--black);
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (any-hover: hover) {
  .nav ul li a:hover {
    color: var(--red);
  }
}
.nav ul li a:focus-visible {
  outline: none;
  color: var(--red);
}
.nav ul li a:active {
  color: var(--red);
}

.hero {
  position: relative;
  min-height: 84.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 576px) {
  .hero {
    min-height: unset;
    max-height: 110rem;
    height: 100vh;
    background-image: #f7f7f7;
  }
}
.hero__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-mask-image: url("./../img/svg/hero-mask.svg");
  mask-image: url("./../img/svg/hero-mask.svg");
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 65% 50%;
  mask-position: 65% 50%;
}
@media (max-width: 576px) {
  .hero__img {
    -webkit-mask-size: 222rem 100%;
    mask-size: 222rem 100%;
    -webkit-mask-position: -50rem 50%;
    mask-position: -50rem 50%;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.hero__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
}
@media (max-width: 576px) {
  .hero__img::before {
    width: 100%;
    height: 70%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(transparent));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  }
}
.hero__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.hero__container {
  position: relative;
  z-index: 4;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hero__title {
  max-width: 83rem;
}
.hero__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.hero__btn {
  min-width: 30rem;
}
@media (max-width: 576px) {
  .hero__btn {
    min-width: unset;
    width: calc(100% - 5rem);
  }
}
.hero_build .hero__img {
  -webkit-mask-position: 20% 50%;
  mask-position: 20% 50%;
}
@media (max-width: 576px) {
  .hero_build .hero__img {
    -webkit-mask-position: -50rem 50%;
    mask-position: -50rem 50%;
  }
}
@media (max-width: 576px) {
  .hero_build .hero__title {
    font-size: 4rem;
  }
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
@media (max-width: 576px) {
  .about__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 4rem;
  padding: 3rem 0;
}
@media (max-width: 576px) {
  .about__content {
    padding: 0;
  }
}
.about__item {
  background-color: #f7f7f7;
  padding: 4.4rem;
  border-radius: 2rem;
  min-height: 37rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .about__item {
    min-height: 16rem;
  }
}
.about__item-title {
  color: var(--red);
  font-weight: 500;
}
@media (max-width: 576px) {
  .about__item-title {
    font-size: 2.6rem;
  }
}

.service {
  overflow: hidden;
}
.service__slider {
  overflow: visible;
}
@media (max-width: 576px) {
  .service__slider {
    margin-bottom: 5rem;
  }
}
.service__btn {
  width: 100%;
  max-width: 37rem;
}
@media (max-width: 576px) {
  .service__btn {
    max-width: calc(100% - 5rem);
  }
}
.service__card-img {
  border-radius: 2rem;
  overflow: hidden;
  height: 44rem;
}
.service__card-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.service__card-content {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.6rem;
}
.service__card-content h3 {
  padding-right: 1rem;
}

.banner {
  position: relative;
  margin: 10rem 0;
}
@media (max-width: 576px) {
  .banner {
    min-height: 90vh;
    padding: 5rem 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .banner .container {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.banner__img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner__img::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.85)), to(transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), transparent);
}
@media (max-width: 576px) {
  .banner__img::before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(transparent));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
    width: 100%;
    height: 40%;
  }
}
.banner__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner__title, .banner__text {
  color: var(--white);
  max-width: 68rem;
  margin-bottom: 4.5rem;
}
.banner__text {
  max-width: 54rem;
  font-weight: 500;
  font-size: 2.4rem;
}
.banner__text:not(:last-child) {
  margin-bottom: 6rem;
}
.banner__btn {
  width: 100%;
  max-width: 37.2rem;
}
@media (max-width: 576px) {
  .banner__btn {
    margin-top: auto;
    max-width: calc(100% - 5rem);
  }
}
.banner_wider .banner__title {
  max-width: 98rem;
}
.banner_wider .banner__text {
  max-width: 51.5rem;
}

.benefits__title {
  margin-bottom: 6rem;
}
.benefits__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
@media (max-width: 576px) {
  .benefits__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.benefits__card {
  position: relative;
  padding: 4.4rem;
  padding-right: 10.5rem;
  background-color: #f7f7f7;
  border-radius: 2rem;
}
@media (max-width: 576px) {
  .benefits__card {
    padding-right: 4.4rem;
  }
}
.benefits__card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 2.5rem;
}
.benefits__card-header span {
  position: absolute;
  right: 4.4rem;
  bottom: 4.4rem;
  color: var(--red);
}
@media (max-width: 576px) {
  .benefits__card-header span {
    position: static;
  }
}
@media (max-width: 576px) {
  .benefits__card-header h3 {
    font-size: 2.2rem;
  }
}

.spec {
  overflow: hidden;
}
.spec__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7rem;
}
@media (max-width: 576px) {
  .spec__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 5rem;
  }
}
@media (max-width: 576px) {
  .spec .container {
    padding-right: var(--container-offset);
  }
}
@media (max-width: 576px) {
  .spec__title {
    display: none;
    font-size: 3.6rem;
  }
}
.spec__title_mob {
  display: none;
}
@media (max-width: 576px) {
  .spec__title_mob {
    display: block;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}
.spec__content {
  max-width: 75.2rem;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5rem;
}
@media (max-width: 576px) {
  .spec__content {
    gap: 3rem;
  }
}
.spec__subtitle {
  font-size: 2.4rem;
  font-weight: 500;
}
.spec__subtitle:not(:last-child) {
  margin-bottom: 0;
}
.spec__desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  max-height: none;
  -webkit-line-clamp: unset;
}
@media (max-width: 576px) {
  .spec__desc.is-clamped {
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}
.spec__toggle-btn {
  display: block;
  border: none;
  background: none;
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--black);
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media (any-hover: hover) {
  .spec__toggle-btn:hover {
    color: var(--red);
  }
}
.spec__toggle-btn:focus-visible {
  color: var(--red);
}
.spec__toggle-btn:active {
  color: var(--red);
}
.spec__btn {
  margin-top: auto;
  width: 100%;
  max-width: 37rem;
  font-weight: 400;
}
@media (max-width: 576px) {
  .spec__btn {
    max-width: calc(100% - 5rem);
  }
}
.spec__img {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  -webkit-mask-image: url("./../img/spec/spec-mask.svg");
  mask-image: url("./../img/spec/spec-mask.svg");
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left;
  mask-position: left;
  min-height: 73.7rem;
}
@media (max-width: 576px) {
  .spec__img {
    min-height: unset;
    height: 39rem;
    margin-right: calc(-1 * var(--container-offset));
  }
}
.spec__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.format {
  overflow: hidden;
}
.format__title {
  margin-bottom: 6rem;
}
.format__slider {
  overflow: visible;
}
.format__card-img {
  border-radius: 2rem;
  overflow: hidden;
  height: 34.4rem;
}
.format__card-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.format__card-content {
  padding-top: 2rem;
}
.format__card-title {
  margin-bottom: 2.4rem;
}

.trust {
  overflow: hidden;
}
.trust__title {
  margin-bottom: 6rem;
}
@media (max-width: 576px) {
  .trust__title {
    margin-bottom: 5rem;
  }
}
.trust__slider {
  overflow: visible;
}
.trust__slider .swiper-slide {
  width: auto;
}
.trust__card {
  height: 7.5rem;
}
@media (max-width: 576px) {
  .trust__card {
    height: 5.5rem;
  }
}
.trust__card img {
  display: block;
  height: 100%;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.projects__btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 37rem;
}
@media (max-width: 576px) {
  .projects__btn {
    max-width: calc(100% - 5rem);
  }
}
.projects__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
@media (max-width: 576px) {
  .projects__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 7rem;
    margin-bottom: 5rem;
  }
}
.projects__card .card__img {
  height: 28rem;
}
.projects__card .card__title {
  margin-bottom: 1rem;
}

.news__btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 37rem;
}
@media (max-width: 576px) {
  .news__btn {
    max-width: calc(100% - 5rem);
  }
}
@media (max-width: 576px) {
  .news__slider {
    margin-bottom: 5rem;
  }
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 576px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.form__field {
  display: block;
  width: 100%;
  position: relative;
}
.form__field--long {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}
@media (any-hover: hover) {
  .form__field:hover input:not(:disabled) ~ .form__label {
    color: rgba(0, 0, 0, 0.45);
  }
  .form__field:hover textarea:not(:disabled) ~ .form__label {
    color: rgba(0, 0, 0, 0.45);
  }
}
.form__field-wrapper {
  display: block;
  height: 6rem;
  position: relative;
  border-radius: 1rem;
  outline: 2px solid transparent;
  background-color: var(--grey1);
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 150%;
  text-transform: lowercase;
  overflow: hidden;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, outline-color 0.3s ease-in;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, outline-color 0.3s ease-in;
}
.form__field-wrapper--area {
  height: 14rem;
}
.form__field.filled .form__label {
  font-size: 1.4rem;
  -webkit-transform: translateY(0.4rem);
  -ms-transform: translateY(0.4rem);
  transform: translateY(0.4rem);
}
.form__field.filled .form__input--area {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.form__label {
  position: absolute;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 2rem;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 150%;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-transform: translateY(1.5rem);
  -ms-transform: translateY(1.5rem);
  transform: translateY(1.5rem);
  -webkit-transition: font-size 0.3s ease-in, background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: font-size 0.3s ease-in, background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, font-size 0.3s ease-in, background-color 0.3s ease-in;
  transition: transform 0.3s ease-in, font-size 0.3s ease-in, background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  pointer-events: none;
}
.form__input {
  display: block;
  position: absolute;
  padding: 1.8rem 2rem 1.2rem;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  background: none;
  -webkit-transition: background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.form__input:focus {
  outline: none;
}
.form__input:focus ~ .form__label {
  font-size: 1.4rem;
  -webkit-transform: translateY(0.4rem);
  -ms-transform: translateY(0.4rem);
  transform: translateY(0.4rem);
}
.form__input:disabled {
  cursor: not-allowed;
  -ms-touch-action: none;
  touch-action: none;
  background-color: #e3e6e6;
}
.form__input--area {
  resize: none;
}
.form__input--area:focus {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.form__btn {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  padding: 1.5rem 3rem 1.6rem;
}
.form__extra {
  font-size: 1.8rem;
  width: 100%;
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}

@media (max-width: 576px) {
  .cta .container {
    padding-right: var(--container-offset);
  }
}
.cta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
}
@media (max-width: 576px) {
  .cta__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.cta__title {
  margin-bottom: 4rem;
}
@media (max-width: 576px) {
  .cta__title {
    margin-bottom: 2.5rem;
  }
}
.cta__subtitle {
  font-weight: 500;
  font-size: 2.4rem;
}
.cta__subtitle:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 576px) {
  .cta__subtitle:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.cta__text:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 576px) {
  .cta__text:not(:last-child) {
    margin-bottom: 4.5rem;
  }
}
.cta__content {
  width: 100%;
  max-width: 74rem;
}
.cta__img {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-mask-image: url("./../img/spec/spec-mask.svg");
  mask-image: url("./../img/spec/spec-mask.svg");
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left;
  mask-position: left;
}
@media (max-width: 576px) {
  .cta__img {
    height: 13rem;
    -webkit-mask-image: url("./../img/svg/news-mask-mob.svg");
    mask-image: url("./../img/svg/news-mask-mob.svg");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}
.cta__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 8rem 0;
  border-radius: 2rem 2rem 0 0;
}
@media (max-width: 576px) {
  .footer {
    padding: 0 0 8rem;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 6rem;
}
@media (max-width: 576px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 2.4rem;
}
.footer__col {
  font-style: normal;
  max-width: 44.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5.6rem;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--black);
}
@media (max-width: 576px) {
  .footer__col {
    max-width: 100%;
    gap: 3.5rem;
  }
}
.footer__col * {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.footer__col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__col ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.footer .footer__col_nav {
  color: var(--grey4);
}
@media (max-width: 576px) {
  .footer .footer__col_nav {
    color: var(--black);
    font-weight: 500;
  }
}
.footer .footer-gray {
  color: var(--grey4);
}
@media (max-width: 576px) {
  .footer .footer-gray {
    color: inherit;
  }
}

.profit {
  overflow: hidden;
}
.profit__title {
  margin-bottom: 6rem;
}
@media (max-width: 576px) {
  .profit__title {
    margin-bottom: 5rem;
  }
}
.profit__slider {
  overflow: visible;
  cursor: -webkit-grab;
  cursor: grab;
}
.profit__card {
  width: 53rem;
}
@media (max-width: 576px) {
  .profit__card {
    width: 47.6rem;
  }
}

.step {
  padding: 4.4rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.4rem;
  background-color: #f7f7f7;
}
.step__title {
  text-transform: inherit;
  font-size: 2rem;
}
.step span {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--red);
}

.entering__title {
  margin-bottom: 6rem;
}
@media (max-width: 576px) {
  .entering__title {
    margin-bottom: 5rem;
  }
}
.entering__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
@media (max-width: 576px) {
  .entering__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.suit {
  overflow: hidden;
}
.suit__card .card__img {
  height: 26rem;
}
@media (max-width: 576px) {
  .suit__card .card__img {
    height: 44rem;
  }
}
.suit__slider {
  overflow: visible;
}
@media (max-width: 576px) {
  .suit__slider {
    margin-bottom: 5rem;
  }
}
.suit__btn {
  width: 100%;
  max-width: 37.2rem;
}
@media (max-width: 576px) {
  .suit__btn {
    max-width: calc(100% - 5rem);
  }
}/*# sourceMappingURL=main.css.map */
