<section class="service-hero">
  <nav class="breadcrumbs" aria-label="Навигационная цепочка">
    <div class="container">
      <span>
        <span><a href="#">Главная</a></span>
        &gt;
        <span><a href="#">Услуги</a></span>
        &gt;
        <span class="breadcrumb_last" aria-current="page">
          Строительство складов разного назначения
        </span>
      </span>
    </div>
  </nav>
  <div class="container container_no-pr">
    <div class="service-hero__container">
      <div class="service-hero__content">
        <div class="service-hero__header">
          <h1 class="h2 service-hero__title">о&nbsp;компании</h1>
          <p class="h4 service-hero__subtitle">
            Работаем с&nbsp;2005&nbsp;года. За&nbsp;это&nbsp;время выполнены
            все&nbsp;заключённые контракты и&nbsp;обязательства
          </p>
        </div>
        <p class="service-hero__desc">
          СпецСтройМонтаж (ССМ) — строительная компания, где&nbsp;готовы
          работать&nbsp;со&nbsp;сложными объектами.<br /><br />
          Мы&nbsp;не&nbsp;берёмся за&nbsp;всё&nbsp;подряд, а&nbsp;сосредоточены
          в&nbsp;нишах, где&nbsp;наш&nbsp;опыт даёт заказчику максимальную
          надёжность: котельные, теплотрассы, высотные металлоконструкции,
          склады с&nbsp;особыми режимами, объекты в&nbsp;сложных грунтах.
          <br /><br />
          Главная ценность ССМ&nbsp;— предложить и&nbsp;реализовать решение,
          которое выдержит эксплуатацию, сроки и&nbsp;ожидания заказчика.
        </p>
        <button class="btn btn_tri service-hero__btn">подать заявку</button>
      </div>

      <div class="service-hero__img">
        <picture>
          <source
            srcset="./img/about/hero-mob.webp"
            type="image/webp"
            media="(max-width: 576px)"
          />
          <img
            loading="lazy"
            src="./img/about/hero.webp"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
