<section class="about">
  <div class="container">
    <div class="about__container">
      <div class="about__content">
        <h2 class="about__title">О&nbsp;компании</h2>
        <p>
          Компания специализируется на&nbsp;строительстве промышленных
          и&nbsp;складских объектов, инженерных систем и&nbsp;модернизации
          действующих предприятий. Работаем с&nbsp;ритейлом, e-commerce,
          производственными, логистическими и инфраструктурными компаниями.
          Реализуем проекты в&nbsp;Приморском крае и&nbsp;на Дальнем Востоке.
        </p>
      </div>

      <div class="about__item">
        <p class="h2 about__item-title">2005</p>
        <p>год основания компании</p>
      </div>
      <div class="about__item">
        <p class="h2 about__item-title">100+</p>
        <p>реализованных объектов</p>
      </div>
      <div class="about__item">
        <p class="h2 about__item-title">Свой цех</p>
        <p>производство металлоконструкций</p>
      </div>
      <div class="about__item">
        <p class="h2 about__item-title">42</p>
        <p>специалиста в штате</p>
      </div>
      <div class="about__item">
        <p class="h2 about__item-title">14</p>
        <p>единиц собственной техники</p>
      </div>
    </div>
  </div>
</section>
