<section class="banner banner_wider">
  <div class="banner__img">
    <picture>
      <source srcset="./img/banners/02.webp" type="image/webp" />
      <img
        src="./img/banners/02.webp"
        class="image"
        width="1920"
        height="586"
        alt="Banner"
      />
    </picture>
  </div>
  <div class="container">
    <h2 class="banner__title">
      Строительство складов различных классов<br />и&nbsp;назначения
    </h2>
    <p class="banner__text">
      Строим склады для розничных сетей любого масштаба
    </p>
    <button class="btn btn_tri banner__btn">подробнее</button>
  </div>
</section>
