<section class="banner">
  <div class="banner__img">
    <picture>
      <source
        srcset="./img/banners/01-mob.webp"
        type="image/webp"
        media="(max-width: 576px)"
      />
      <img
        src="./img/banners/01.webp"
        class="image"
        width="1920"
        height="586"
        alt="Banner"
      />
    </picture>
  </div>
  <div class="container">
    <h2 class="banner__title">
      Строительство по&nbsp;технологии Build-to-Suit
    </h2>
    <p class="banner__text">
      Производственные и&nbsp;складские помещения под&nbsp;задачи конкретного
      клиента
    </p>
    <button class="btn btn_tri banner__btn">подробнее</button>
  </div>
</section>
