<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">преимущества работы с&nbsp;нами</h2>

    <div class="benefits__container">
      <article class="benefits__card">
        <div class="benefits__card-header">
          <h3>Комплексная реализация</h3>
          <span class="h3">01</span>
        </div>
        <p>
          Полный цикл работ в&nbsp;рамках одного договора: проектирование,
          строительство, монтаж инженерных систем и&nbsp;оборудования,
          пусконаладка, ввод в&nbsp;эксплуатацию
        </p>
      </article>

      <article class="benefits__card">
        <div class="benefits__card-header">
          <h3>Индивидуальные решения</h3>
          <span class="h3">02</span>
        </div>
        <p>
          Проект разрабатывается под&nbsp;технологические процессы заказчика:
          нагрузки, температурный режим, логистика, высота хранения, доковые
          зоны
        </p>
      </article>

      <article class="benefits__card">
        <div class="benefits__card-header">
          <h3>Технологическая экспертиза</h3>
          <span class="h3">03</span>
        </div>
        <p>
          Собственный цех&nbsp;металлоконструкций и&nbsp;производственная база.
          Работаем со&nbsp;сложными объектами: газ, давление, высотные
          конструкции, глубокие фундаменты, болотистые грунты
        </p>
      </article>

      <article class="benefits__card">
        <div class="benefits__card-header">
          <h3>Промышленная безопасность</h3>
          <span class="h3">04</span>
        </div>
        <p>
          Работы выполняются по&nbsp;требованиям ГОСТ и&nbsp;СНиП. Специалисты
          имеют действующие допуски: электробезопасность, высотные работы, НАКС
        </p>
      </article>

      <article class="benefits__card">
        <div class="benefits__card-header">
          <h3>Контроль на&nbsp;входе в&nbsp;проект</h3>
          <span class="h3">05</span>
        </div>
        <p>
          Перепроверяем проектную документацию, геологические изыскания
          и&nbsp;исходные данные до&nbsp;начала работ. Предлагаем решения,
          снижающие стоимость без&nbsp;потери качества
        </p>
      </article>

      <article class="benefits__card">
        <div class="benefits__card-header">
          <h3>Соблюдение сроков</h3>
          <span class="h3">06</span>
        </div>
        <p>
          Собственный парк техники, бригады и&nbsp;производство
          металлоконструкций позволяют укладываться в&nbsp;согласованный график
          без&nbsp;привлечения субподрядчиков по&nbsp;ключевым работам
        </p>
      </article>
    </div>
  </div>
</section>
