<section class="customers">
  <div class="container">
    <div class="heading">
      <h2 class="customers__title">партнёры заказчики</h2>
    </div>
    <div class="customers__grid">
      <div class="customers__item">
        <img src="./img/customers/01.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/02.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/03.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/04.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/05.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/06.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/07.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/08.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/09.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/10.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/11.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/12.webp" alt="" />
      </div>
      <div class="customers__item">
        <img src="./img/customers/13.webp" alt="" />
      </div>
    </div>
  </div>
</section>
