<section class="entering">
  <div class="container">
    <h2 class="entering__title">Что входит в проект</h2>

    <div class="entering__grid">
      <div class="entering__card step">
        <h3 class="step__title">Подбор или согласование земельного участка</h3>
        <span>01</span>
      </div>
      <div class="entering__card step">
        <h3 class="step__title">
          Проектирование объекта под техническое задание заказчика
        </h3>
        <span>02</span>
      </div>
      <div class="entering__card step">
        <h3 class="step__title">Подготовка строительной площадки</h3>
        <span>03</span>
      </div>
      <div class="entering__card step">
        <h3 class="step__title">
          Производство металлоконструкций в собственном цеху
        </h3>
        <span>04</span>
      </div>
      <div class="entering__card step">
        <h3 class="step__title">Строительно-монтажные работы</h3>
        <span>05</span>
      </div>
      <div class="entering__card step">
        <h3 class="step__title">Прокладка инженерных сетей и коммуникаций</h3>
        <span>06</span>
      </div>
      <div class="entering__card step">
        <h3 class="step__title">Монтаж технологического оборудования</h3>
        <span>07</span>
      </div>
      <div class="entering__card step">
        <h3 class="step__title">Пусконаладка и ввод объекта в эксплуатацию</h3>
        <span>08</span>
      </div>
      <div class="entering__card step">
        <h3 class="step__title">
          Гарантийные обязательства в течение послеэксплуатационного периода
        </h3>
        <span>09</span>
      </div>
    </div>
  </div>
</section>
