<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <address class="footer__col">
        <div>
          <p class="footer__item">
            <a href="mailto:specstroymon@yandex.ru">specstroymon@yandex.ru</a>
          </p>
          <p class="footer__item">
            <a href="tel:+7 951 022 09 99">+79510220999</a>
          </p>
          <p class="footer__item">Часы работы: пн–пт, 9:00–18:00</p>
        </div>
        <div class="footer-gray">
          <p>
            690080, Приморский край, г.&nbsp;Владивосток,
            ул.&nbsp;Добровольского, д.&nbsp;5, помещение&nbsp;5
          </p>
        </div>
      </address>

      <nav class="footer__col">
        <ul>
          <li>
            <a href="#">Подать заявку</a>
          </li>
          <li>
            <a href="#">Получить расчёт</a>
          </li>
          <li>
            <a href="#">Согласовать выезд инженера</a>
          </li>
          <li>
            <a href="#">Запросить смету</a>
          </li>
        </ul>
      </nav>

      <nav class="footer__col footer__col_nav">
        <ul>
          <li>
            <a href="#">Главная</a>
          </li>
          <li>
            <a href="#">Услуги</a>
          </li>
          <li>
            <a href="#">О компании</a>
          </li>
          <li>
            <a href="#">Проекты</a>
          </li>
          <li>
            <a href="#">Новости</a>
          </li>
          <li>
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="footer__col footer-gray">
        <div>
          <p class="footer__item">
            <a href="#" target="_blank">Политика конфиденциальности</a>
          </p>
          <p class="footer__item">
            <p target="_blank">© 2026 ООО «СпецСтройМонтаж».</p>
          </p>
        </div>

        <div>
          <a href="https://peremena.store" target="_blank">Создано Переменой</a>
        </div>
      </div>
    </div>
  </div>
</footer>
