<section class="format">
  <div class="container">
    <h2 class="format__title">Форматы сотрудничества</h2>

    <div class="format__slider swiper slider-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="format__card card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/format/01-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/format/01.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">
                Работа по&nbsp;техническому заданию заказчика
              </h3>
              <p>
                Реализуем проекты на&nbsp;основе технического задания заказчика.
                Учитываем технологические процессы, инженерные нагрузки,
                требования промышленной безопасности и&nbsp;особенности
                эксплуатации объекта.
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="format__card card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/format/02-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/format/02.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">Комплексная реализация проектов</h3>
              <p>
                Полный комплекс работ в&nbsp;одном договоре: подготовка
                строительной площадки, возведение зданий и&nbsp;сооружений,
                монтаж инженерных систем и&nbsp;технологического оборудования,
                пусконаладка, ввод объекта в&nbsp;эксплуатацию.
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="format__card card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/format/03-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/format/03.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">
                Работа с&nbsp;материалами и&nbsp;оборудованием заказчика
              </h3>
              <p>
                Выполняем монтажные и&nbsp;строительные работы
                с&nbsp;использованием материалов и&nbsp;оборудования,
                предоставленных заказчиком. Соблюдаем технические регламенты
                и&nbsp;предоставляем гарантию на&nbsp;выполненные работы.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
