<section class="hero hero_build">
  <div class="hero__img">
    <picture>
      <source srcset="./img/hero.webp" type="image/webp" />
      <img
        loading="lazy"
        src="./img/hero.webp"
        class="image"
        width="1920"
        height="1000"
        alt=""
      />
    </picture>
  </div>
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">
        Строительство по&nbsp;технологии Build-to-Suit
      </h1>
      <button class="btn btn_tri hero__btn">обсудить проект</button>
    </div>
  </div>
</section>
