<section class="location">
  <div class="location__container container container_no-pl">
    <div class="location__img btn-nomob">
      <picture>
        <img
          loading="lazy"
          src="./img/location/01.webp"
          class="image"
          width="990"
          height="820"
          alt=""
        />
      </picture>
    </div>

    <div class="location__content">
      <h2 class="location__title">Строим в&nbsp;развитой локации</h2>
      <p class="location__subtitle h4">
        На&nbsp;собственных земельных участках вблизи Владивостока
      </p>
      <div class="location__img btn-mob">
        <picture>
          <img
            loading="lazy"
            src="./img/location/01-mob.webp"
            class="image"
            width="680"
            height="390"
            alt=""
          />
        </picture>
      </div>
      <div class="location__desc">
        <p>
          После&nbsp;ввода в&nbsp;эксплуатацию склад вместе с&nbsp;земельным
          участком передаётся от&nbsp;застройщика в&nbsp;собственность
          заказчику.
        </p>
        <p>
          Реализуем проекты на&nbsp;участках с&nbsp;готовой транспортной
          доступностью и&nbsp;выходом к&nbsp;ключевым логистическим маршрутам
          региона. Подведены инженерные сети, оформлены землеотводные документы.
          Локация подходит для&nbsp;размещения распределительных центров,
          производственных корпусов и&nbsp;фулфилмент-операций&nbsp;— особенно
          для&nbsp;компаний, работающих с&nbsp;азиатскими рынками
          через&nbsp;порты Приморья.
        </p>
        <p>
          Возможна реализация по&nbsp;модели Build-to-Suit&nbsp;— строим
          под&nbsp;технологические и&nbsp;операционные требования конкретного
          заказчика, с&nbsp;учётом контурного оборудования, грузопотока
          и&nbsp;режима эксплуатации.
        </p>
      </div>
      <a href="#" class="location__btn btn btn_tri btn_dark">
        подробнее о&nbsp;локации
      </a>
    </div>
  </div>
</section>
