<div class="modal modal_success" data-modal="success">
  <div class="modal__body modal-success">
    <button
      class="modal__close btn-reset"
      type="button"
      data-modal-close
      aria-label="Закрыть"
    >
      <svg width="24" height="24" aria-hidden="true">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </button>

    <div class="modal-success__icon" aria-hidden="true">
      <svg
        class="modal-success__check"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8 16.5L13.5 22L24 10"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

    <h2 class="modal-success__title h3">спасибо за&nbsp;заявку</h2>
    <p class="modal-success__text">
      Наш специалист свяжется с&nbsp;вами в&nbsp;течение рабочего дня
    </p>

    <button
      class="btn btn_medium modal-success__btn btn-reset"
      type="button"
      data-modal-close
    >
      хорошо
    </button>
  </div>
</div>
