<section class="nature">
  <div class="nature__img">
    <picture>
      <source
        srcset="./img/about/nature-mob.webp"
        type="image/webp"
        media="(max-width: 576px)"
      />
      <img
        loading="lazy"
        src="./img/about/nature.webp"
        class="image"
        width="100%"
        height="950"
        alt=""
      />
    </picture>
  </div>
  <div class="container">
    <div class="nature__container">
      <div class="nature__content">
        <h2 class="nature__title">Характер<br />ссм</h2>
        <p class="nature__subtitle">
          ССМ&nbsp;— надёжный, спокойный, системный, собранный, ответственный
          бренд.
        </p>
        <p class="nature__desc">
          Доверие формируется через&nbsp;конкретику: факты, результаты,
          профессиональное поведение в&nbsp;каждом взаимодействии
          с&nbsp;клиентом.
        </p>
      </div>
    </div>
  </div>
</section>
