<section class="news">
  <div class="container">
    <div class="news__header heading">
      <h2 class="news__title">новости</h2>
      <a href="#" class="btn btn_dark btn_tri news__btn">все новости</a>
    </div>

    <div class="news__slider swiper slider-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="news__card card card_news">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/news/01-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/news/01.webp"
                  class="image"
                  width="560"
                  height="400"
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">
                <a href="#"
                  >Завершено строительство складского комплекса по&nbsp;схеме
                  Build-to-Suit</a
                >
              </h3>
              <p>
                Сдан объект, спроектированный под&nbsp;индивидуальные задачи
                заказчика: температурный режим, доковые зоны, нагрузки
                на&nbsp;полы.
              </p>
              <time datetime="03/26/2026">26.03.2026</time>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="news__card card card_news">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/news/02-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/news/02.webp"
                  class="image"
                  width="560"
                  height="400"
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">
                <a href="#">Выполнен монтаж технологического оборудования</a>
              </h3>
              <p>
                Завершены монтажные и&nbsp;пусконаладочные работы
                на&nbsp;производственной площадке заказчика.
              </p>
              <time datetime="20.03.2026">20.03.2026</time>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="news__card card card_news">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/news/03-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/news/03.webp"
                  class="image"
                  width="560"
                  height="400"
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">
                <a href="#"
                  >Расширены мощности собственного цеха металлоконструкций</a
                >
              </h3>
              <p>
                Увеличены производственные мощности по&nbsp;изготовлению
                металлоконструкций нестандартных форм.
              </p>
              <time datetime="17.03.2026">17.03.2026</time>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
