<section class="partners">
  <div class="container">
    <div class="partners__header heading">
      <h2 class="partners__title">С&nbsp;кем&nbsp;мы работаем</h2>

      <button class="btn partners__btn btn-nomob btn_tri">подать заявку</button>
    </div>

    <div class="partners__slider swiper slider-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card_service card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/partners/01.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/partners/01.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">Промышленные предприятия</h3>
              <p class="partners__desc">
                Строим корпуса под&nbsp;конкретную технологию: с&nbsp;крановым
                оборудованием, виброизоляцией, особыми средами и&nbsp;сложными
                фундаментами.
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="card_service card card_format">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/partners/02.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/partners/02.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">
                Ритейлеры и&nbsp;логистические компании
              </h3>
              <p class="partners__desc">
                Возводим склады под&nbsp;операционную модель клиента:
                с&nbsp;точным температурным режимом, нагрузкой на&nbsp;пол,
                доковыми зонами и&nbsp;инженерией.
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="card_service card card_format">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/partners/03.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/partners/03.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">
                Коммунальные и&nbsp;инфраструктурные организации
              </h3>
              <p class="partners__desc">
                Реализуем объекты, где&nbsp;остановка недопустима: очистные
                сооружения, насосные станции, резервуары, тепловые трассы.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <button class="btn partners__btn btn-mob btn_tri">подать заявку</button>
  </div>
</section>
