<section class="profit">
  <div class="container">
    <h2 class="profit__title">Почему это&nbsp;выгодно</h2>

    <div class="profit__slider swiper slider-auto">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card profit__card card_profit">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/profit/01-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/profit/01.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">проектирование Объекта</h3>
              <p class="card__subtitle">Под&nbsp;ваш&nbsp;бизнес</p>
              <p class="card__desc">
                Не нужно подстраивать процессы под готовое помещение или
                перестраивать арендованную площадь — все технические параметры
                изначально отвечают вашим требованиям.
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="card profit__card card_profit">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/profit/02-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/profit/02.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">Экономия 30–40%</h3>
              <p class="card__subtitle">
                По&nbsp;сравнению с&nbsp;покупкой готового объекта
              </p>
              <p class="card__desc">
                Стоимость ниже за&nbsp;счёт отсутствия доработок, прямой работы
                с&nbsp;подрядчиком и&nbsp;оптимизации проекта
                под&nbsp;конкретные задачи.
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="card profit__card card_profit">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/profit/03-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/profit/03.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">Полный контроль</h3>
              <p class="card__subtitle">Со&nbsp;стороны заказчика</p>
              <p class="card__desc">
                Заказчик согласовывает ключевые решения по&nbsp;проекту, смете
                и&nbsp;материалам, при&nbsp;этом не&nbsp;занимается оперативным
                управлением стройкой&nbsp;— этим занимается&nbsp;ССМ.
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="card profit__card card_profit">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/profit/04-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/profit/04.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">Единый подрядчик</h3>
              <p class="card__subtitle">
                Один договор, одна зона ответственности.
              </p>
              <p class="card__desc">
                Проектирование, производство металлоконструкций, строительство,
                монтаж инженерных систем и&nbsp;оборудования выполняются
                собственными силами и&nbsp;ресурсами&nbsp;ССМ.
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="card profit__card card_profit">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/profit/05-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/profit/05.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">экономика проекта</h3>
              <p class="card__subtitle">Прозрачна</p>
              <p class="card__desc">
                Сметная стоимость согласовывается до начала работ. График
                финансирования и календарный план строительства фиксируются в
                договоре.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
