<section class="service-hero">
  <nav class="breadcrumbs" aria-label="Навигационная цепочка">
    <div class="container">
      <span>
        <span><a href="#">Главная</a></span>
        &gt;
        <span><a href="#">Услуги</a></span>
        &gt;
        <span class="breadcrumb_last" aria-current="page">
          Строительство складов разного назначения
        </span>
      </span>
    </div>
  </nav>
  <div class="container container_no-pr">
    <div class="service-hero__container">
      <div class="service-hero__content">
        <div class="service-hero__header">
          <h1 class="h2 service-hero__title">
            Логистический центр «Восточный»
          </h1>
        </div>
        <p class="h4 service-hero__link">
          <a href="#"> Build-to-Suit </a>
        </p>

        <div class="service-hero__img btn-mob">
          <img
            loading="lazy"
            src="./img/project-page/hero.webp"
            class="image"
            width=""
            height=""
            alt=""
          />
        </div>
      </div>

      <div class="service-hero__img btn-nomob">
        <img
          loading="lazy"
          src="./img/project-page/hero.webp"
          class="image"
          width=""
          height=""
          alt=""
        />
      </div>
    </div>
  </div>
</section>
