<section class="project-about">
  <div class="container container_no-pl">
    <div class="project-about__container">
      <div class="project-about__img btn-nomob">
        <img
          src="./img/project-page/about.webp"
          width="995"
          height="820"
          alt=""
        />
      </div>

      <div class="project-about__content">
        <h2 class="project-about__title">о&nbsp;проекте</h2>
        <div class="project-about__img btn-mob">
          <img
            src="./img/project-page/about.webp"
            width="995"
            height="820"
            alt=""
          />
        </div>
        <div
          class="project-about__desc"
          data-toggle-text
          data-text-selector="p"
          data-toggle-text-expand="Читать далее"
          data-toggle-text-collapse="Свернуть"
        >
          <p>
            Проект реализован для&nbsp;дистрибьюторской компании с&nbsp;учётом
            требований к&nbsp;хранению и&nbsp;обработке товарных потоков.
            В&nbsp;рамках строительства выполнено возведение складского здания
            с&nbsp;доковыми зонами, административно-бытовым корпусом
            и&nbsp;высоконагруженными промышленными полами.
            <br /><br />
            Объект спроектирован с&nbsp;учётом логистических процессов заказчика
            и&nbsp;перспектив масштабирования. Выполнен монтаж инженерных
            систем, обеспечена подготовка площадки под&nbsp;складское
            оборудование и&nbsp;проведены пусконаладочные работы
            перед&nbsp;вводом объекта в&nbsp;эксплуатацию.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
