<section class="projects">
  <div class="container">
    <div class="projects__header heading">
      <h2 class="projects__title">реализованные проекты</h2>
      <button class="btn btn_dark btn_tri projects__btn">все проекты</button>
    </div>

    <div class="projects__slider swiper slider-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="projects__card card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/projects/01-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/projects/01.webp"
                  class="image"
                  width="560"
                  height="400"
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title"><a href="#">Efes</a></h3>
              <p>
                Тёплый склад с&nbsp;паллетным хранением, адаптирован
                под&nbsp;логистику и&nbsp;температурный режим
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="projects__card card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/projects/02-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/projects/02.webp"
                  class="image"
                  width="560"
                  height="400"
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title"><a href="#">Примтеплоэнерго</a></h3>
              <p>
                Инфраструктурный объект, сложные инженерные решения в сжатые
                сроки
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="projects__card card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/projects/03-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/projects/03.webp"
                  class="image"
                  width="560"
                  height="400"
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title"><a href="#">DelCar</a></h3>
              <p>Складской комплекс под&nbsp;задачи ритейлера</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
