<section class="service-hero">
  <nav class="breadcrumbs" aria-label="Навигационная цепочка">
    <div class="container">
      <span>
        <span><a href="#">Главная</a></span>
        &gt;
        <span><a href="#">Услуги</a></span>
        &gt;
        <span class="breadcrumb_last" aria-current="page">
          Строительство складов разного назначения
        </span>
      </span>
    </div>
  </nav>
  <div class="container container_no-pr">
    <div class="service-hero__container">
      <div class="service-hero__content">
        <div class="service-hero__header">
          <h1 class="h2 service-hero__title">
            Строительство складов разного назначения
          </h1>
          <p class="h4 service-hero__subtitle">
            Там, где остановка недопустима
          </p>
        </div>
        <p class="service-hero__desc">
          Проектируем и&nbsp;строим складские и&nbsp;распределительные центры,
          производственные здания и&nbsp;инженерную инфраструктуру
          под&nbsp;конкретную операционную модель заказчика. Полный цикл&nbsp;—
          от&nbsp;технического задания до&nbsp;ввода в&nbsp;эксплуатацию.
        </p>
        <button class="btn btn_tri service-hero__btn">подать заявку</button>
      </div>

      <div class="service-hero__img">
        <picture>
          <source
            srcset="./img/service-page/hero-mob.webp"
            type="image/webp"
            media="(max-width: 576px)"
          />
          <img
            loading="lazy"
            src="./img/service-page/hero.webp"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
