<section class="service">
  <div class="container">
    <div class="service__header heading">
      <h2 class="heading__title">Наши основные услуги</h2>
      <a href="#" class="btn btn_dark btn_tri service__btn btn-nomob">
        все&nbsp;услуги
      </a>
    </div>
    <div class="service__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="service__card">
            <div class="service__card-img">
              <picture>
                <source
                  srcset="./img/service/01.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/service/01.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="service__card-content">
              <h3>Строительство складов под&nbsp;ритейл</h3>
              <p>
                Складские комплексы под&nbsp;логистику, температурный режим
                и&nbsp;операционную модель заказчика.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="service__card">
            <div class="service__card-img">
              <picture>
                <source
                  srcset="./img/service/02-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/service/02.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="service__card-content">
              <h3>Строительство промышленных объектов</h3>
              <p>
                Производственные здания и&nbsp;цеха под&nbsp;конкретную
                технологию&nbsp;— с&nbsp;крановыми путями, усиленными
                фундаментами, особыми средами.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="service__card">
            <div class="service__card-img">
              <picture>
                <source
                  srcset="./img/service/03-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/service/03.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="service__card-content">
              <h3>Инженерные системы и&nbsp;коммуникации</h3>
              <p>
                Котельные, теплотрассы, водонапорные узлы, насосные станции,
                монтаж технологического оборудования.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="service__card">
            <div class="service__card-img">
              <picture>
                <source
                  srcset="./img/service/04-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/service/04.webp"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="service__card-content">
              <h3>Реконструкция и&nbsp;модернизация предприятий</h3>
              <p>
                Обновление действующих производств с&nbsp;заменой инженерных
                сетей и&nbsp;подготовкой под&nbsp;новое оборудование.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn_dark btn_tri service__btn btn-mob">
      все&nbsp;услуги
    </a>
  </div>
</section>
