<section class="services-extra">
  <div class="container">
    <h2 class="services-extra__title">Дополнительные услуги</h2>

    <div class="services-extra__items swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="services-extra__card">
            <div class="services-extra__card-img">
              <picture>
                <source
                  srcset="./img/services-card/05.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/services-card/05.webp"
                  class="image"
                  width="410"
                  height="394"
                  alt=""
                />
              </picture>
            </div>

            <div class="services-extra__card-content">
              <h3 class="h4 services-extra__card-title">
                <a href="#">
                  Пусконаладочные работы инженерных систем и&nbsp;оборудования
                </a>
              </h3>
              <p class="services-extra__card-desc">
                Запуск, настройка и сдача в эксплуатацию инженерных систем и
                технологического оборудования на промышленных и складских
                объектах. Включает работу с автоматикой, вентиляцией,
                отоплением, холодильным оборудованием, электрооборудованием.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="services-extra__card">
            <div class="services-extra__card-img">
              <picture>
                <source
                  srcset="./img/services-card/06.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/services-card/06.webp"
                  class="image"
                  width="410"
                  height="394"
                  alt=""
                />
              </picture>
            </div>

            <div class="services-extra__card-content">
              <h3 class="h4 services-extra__card-title">
                <a href="#"> Строительство сложных промышленных фундаментов </a>
              </h3>
              <p class="services-extra__card-desc">
                Фундаменты под&nbsp;технологическое оборудование,
                в&nbsp;том&nbsp;числе в&nbsp;болотистых грунтах, на&nbsp;свайных
                основаниях и&nbsp;при&nbsp;глубоком заложении. Расчёт нагрузок,
                виброизоляция, гидроизоляция, защита от&nbsp;агрессивных сред.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="services-extra__card">
            <div class="services-extra__card-img">
              <picture>
                <source
                  srcset="./img/services-card/07.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/services-card/07.webp"
                  class="image"
                  width="410"
                  height="394"
                  alt=""
                />
              </picture>
            </div>

            <div class="services-extra__card-content">
              <h3 class="h4 services-extra__card-title">
                <a href="#">
                  Устройство промышленных полов для предприятий 1–4 класса
                  опасности
                </a>
              </h3>
              <p class="services-extra__card-desc">
                Монолитные и&nbsp;наливные полы с&nbsp;учётом механических
                нагрузок, химической стойкости и&nbsp;требований промышленной
                безопасности. Под&nbsp;погрузчики, стеллажи, тяжёлое
                оборудование, агрессивные среды.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="services-extra__card">
            <div class="services-extra__card-img">
              <picture>
                <source
                  srcset="./img/services-card/08.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/services-card/08.webp"
                  class="image"
                  width="410"
                  height="394"
                  alt=""
                />
              </picture>
            </div>

            <div class="services-extra__card-content">
              <h3 class="h4 services-extra__card-title">
                <a href="#"> Высотные монтажные и&nbsp;сварочные работы </a>
              </h3>
              <p class="services-extra__card-desc">
                Монтаж и&nbsp;сварка металлоконструкций на&nbsp;высоте свыше
                20&nbsp;метров. Специалисты с&nbsp;допусками НАКС
                и&nbsp;аттестациями к&nbsp;высотным работам. Работа
                с&nbsp;лесов, люлек, в&nbsp;автоприцепах
                и&nbsp;с&nbsp;применением промальпинизма.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="services-extra__card">
            <div class="services-extra__card-img">
              <picture>
                <source
                  srcset="./img/services-card/09.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/services-card/09.webp"
                  class="image"
                  width="410"
                  height="394"
                  alt=""
                />
              </picture>
            </div>

            <div class="services-extra__card-content">
              <h3 class="h4 services-extra__card-title">
                <a href="#"> Монтаж и демонтаж пищевого оборудования </a>
              </h3>
              <p class="services-extra__card-desc">
                Работы по&nbsp;технологическим линиям пищевых производств
                с&nbsp;соблюдением санитарных требований и&nbsp;регламентов
                пищевой безопасности (ХАССП, ТР&nbsp;ТС 021). Холодильное
                и&nbsp;морозильное оборудование, моечные комплексы, конвейеры,
                фасовочные линии.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="services-extra__card">
            <div class="services-extra__card-img">
              <picture>
                <source
                  srcset="./img/services-card/10.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/services-card/10.webp"
                  class="image"
                  width="410"
                  height="394"
                  alt=""
                />
              </picture>
            </div>

            <div class="services-extra__card-content">
              <h3 class="h4 services-extra__card-title">
                <a href="#">
                  Монтаж импортного оборудования по оригинальной документации
                  производителя
                </a>
              </h3>
              <p class="services-extra__card-desc">
                Работа с&nbsp;импортным технологическим оборудованием
                по&nbsp;оригинальной документации производителя. Соответствие
                техническим инструкциям и&nbsp;регламентам без&nbsp;вольной
                интерпретации. Английский и&nbsp;китайский языки.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="services-extra__card">
            <div class="services-extra__card-img">
              <picture>
                <source
                  srcset="./img/services-card/11.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/services-card/11.webp"
                  class="image"
                  width="410"
                  height="394"
                  alt=""
                />
              </picture>
            </div>

            <div class="services-extra__card-content">
              <h3 class="h4 services-extra__card-title">
                <a href="#"> Чистовая отделка производственных помещений </a>
              </h3>
              <p class="services-extra__card-desc">
                Завершающие работы в&nbsp;производственных зданиях: стены,
                потолки, полы, технические перегородки, дверные группы.
                В&nbsp;соответствии с&nbsp;требованиями заказчика
                и&nbsp;отраслевыми нормами (пищевые, фармацевтические,
                машиностроительные предприятия).
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="services-extra__card">
            <div class="services-extra__card-img">
              <picture>
                <source
                  srcset="./img/services-card/12.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/services-card/12.webp"
                  class="image"
                  width="410"
                  height="394"
                  alt=""
                />
              </picture>
            </div>

            <div class="services-extra__card-content">
              <h3 class="h4 services-extra__card-title">
                <a href="#"> Безопасный демонтаж промышленного оборудования</a>
              </h3>
              <p class="services-extra__card-desc">
                Демонтаж оборудования на&nbsp;действующих и&nbsp;выведенных
                из&nbsp;эксплуатации производствах. С&nbsp;последующей
                утилизацией металлолома, очисткой технологических контуров
                и&nbsp;подготовкой площадки под&nbsp;новое оборудование.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
