<section class="projects">
  <div class="container">
    <div class="projects__header heading">
      <h2 class="projects__title">схожие проекты</h2>
      <a href="#" class="btn btn_dark btn_tri projects__btn btn-nomob"
        >все проекты</a
      >
    </div>

    <div class="projects__grid">
      <article class="projects__card card">
        <div class="card__img">
          <picture>
            <source
              srcset="./img/projects/01-mob.webp"
              type="image/webp"
              media="(max-width: 576px)"
            />
            <img
              loading="lazy"
              src="./img/projects/01.webp"
              class="image"
              width="560"
              height="400"
              alt=""
            />
          </picture>
        </div>
        <div class="card__content">
          <h3 class="card__title">
            <a href="#">Складской комплекс «Приморский»</a>
          </h3>
          <p>
            Строительство складского объекта с доковыми зонами
            и административной частью для логистической компании. Реализован
            полный цикл работ с учётом требований заказчика. ивно-бытовым
            корпусом, доковыми зонами и промышленными полами.
          </p>
        </div>
      </article>

      <article class="projects__card card">
        <div class="card__img">
          <picture>
            <source
              srcset="./img/projects/02-mob.webp"
              type="image/webp"
              media="(max-width: 576px)"
            />
            <img
              loading="lazy"
              src="./img/projects/02.webp"
              class="image"
              width="560"
              height="400"
              alt=""
            />
          </picture>
        </div>
        <div class="card__content">
          <h3 class="card__title">
            <a href="#">Распределительный центр «Южный»</a>
          </h3>
          <p>
            Создание распределительного центра с высокой пропускной способностью
            и возможностью интеграции складского оборудования. Выполнены
            строительные и инженерные работы.
          </p>
        </div>
      </article>

      <article class="projects__card card">
        <div class="card__img">
          <picture>
            <source
              srcset="./img/projects/03-mob.webp"
              type="image/webp"
              media="(max-width: 576px)"
            />
            <img
              loading="lazy"
              src="./img/projects/03.webp"
              class="image"
              width="560"
              height="400"
              alt=""
            />
          </picture>
        </div>
        <div class="card__content">
          <h3 class="card__title">
            <a href="#">Логистический парк «Портовый»</a>
          </h3>
          <p>
            Выполнена реконструкция существующего производственного корпуса
            с заменой инженерных сетей, устройством промышленных полов
            и подготовкой площадок под новое технологическое оборудование.
          </p>
        </div>
      </article>
    </div>
    <a href="#" class="btn btn_dark btn_tri projects__btn btn-mob"
      >все проекты</a
    >
  </div>
</section>
