<section class="spec">
  <div class="container container_no-pr">
    <div class="spec__container">
      <div class="spec__content">
        <h2 class="spec__title">спецстроймонтаж</h2>
        <p class="spec__subtitle">Работаем с&nbsp;2005&nbsp;года</p>
        <div class="spec__desc">
          <p>
            Компания специализируется на&nbsp;строительстве промышленных
            и&nbsp;складских объектов, монтаже инженерных систем
            и&nbsp;модернизации действующих предприятий. Реализуем проекты
            под&nbsp;ключ, учитывая технологические процессы, требования бизнеса
            и&nbsp;особенности эксплуатации объектов. Решения подходят
            для&nbsp;ритейла, e-commerce, логистических компаний,
            машиностроительных, пищевых и&nbsp;энергетических производств.
          </p>
          <p>
            Команда обеспечивает полный цикл работ&nbsp;— от&nbsp;проектирования
            и&nbsp;подготовки площадки до&nbsp;строительства, монтажа
            оборудования и&nbsp;ввода объекта в&nbsp;эксплуатацию. Применяем
            современные технологии и&nbsp;материалы, соблюдаем сроки
            и&nbsp;стандарты промышленной безопасности. Каждый проект ведётся
            индивидуально, с&nbsp;учётом задач и&nbsp;требований заказчика.
          </p>
        </div>
        <a href="#" class="btn btn_dark spec__btn btn_tri">
          подробнее о&nbsp;компании
        </a>
      </div>
      <div class="spec__img">
        <picture>
          <source srcset="./img/spec/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/spec/01.webp"
            class="image"
            width="1024"
            height="809"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
