<section class="spec">
  <div class="container container_no-pr">
    <div class="spec__container">
      <div class="spec__title spec__title_mob h2">
        Как&nbsp;это&nbsp;работает
      </div>
      <div class="spec__content">
        <h2 class="spec__title">Как&nbsp;это&nbsp;работает</h2>
        <div class="spec__desc">
          <p>
            Build-to-Suit&nbsp;— это&nbsp;строительство производственного
            или&nbsp;складского объекта под&nbsp;заказ конкретного клиента
            с&nbsp;учётом его&nbsp;технологических процессов, логистики
            и&nbsp;операционной модели.
            <br /><br />
            Помещения, построенные по&nbsp;этой технологии, полностью
            соответствуют задачам бизнеса заказчика: размеры, высота,
            планировка, нагрузки на&nbsp;полы, температурный режим, доковые
            зоны, инженерные системы, расположение вспомогательных
            и&nbsp;административно-бытовых помещений&nbsp;—
            всё&nbsp;проектируется индивидуально.
            <br /><br />
            Заказчик получает объект, готовый к&nbsp;эксплуатации сразу
            после&nbsp;сдачи, без&nbsp;необходимости доработок, реконструкций
            или&nbsp;расширений.
          </p>
        </div>
      </div>
      <div class="spec__img">
        <picture>
          <source
            srcset="./img/spec/02-mob.webp"
            type="image/webp"
            media="(max-width: 576px)"
          />
          <img
            loading="lazy"
            src="./img/spec/02.webp"
            class="image"
            width="1024"
            height="809"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
