<section class="storage">
  <div class="container">
    <div class="heading storage__header">
      <h2 class="storage__title">
        Строительство складов класса А+, А, В+, В, С, D
      </h2>
    </div>

    <div class="storage__grid">
      <article class="storage__card storage-card">
        <h3 class="accent storage-card__title">А+/А</h3>
        <div class="storage-card__desc">
          <p>Высокотехнологичные одноэтажные комплексы</p>
          <p>
            Высота потолков: от&nbsp;13&nbsp;м&nbsp;(класс А+)
            или&nbsp;от&nbsp;10&nbsp;м&nbsp;(класс А)
          </p>
          <p>Современные системы пожаротушения, вентиляции, контроля доступа</p>
          <p>Ровные полы с&nbsp;антипылевым покрытием</p>
        </div>
      </article>

      <article class="storage__card storage-card">
        <h3 class="accent storage-card__title">В+/В</h3>
        <div class="storage-card__desc">
          <p>
            Одно&nbsp;— или&nbsp;многоэтажные здания (часто переоборудованные)
          </p>
          <p>Высота потолков: от&nbsp;6&nbsp;до&nbsp;10&nbsp;м</p>
          <p>Наличие основных инженерных систем</p>
          <p>Минимальная автоматизация</p>
        </div>
      </article>

      <article class="storage__card storage-card">
        <h3 class="accent storage-card__title">C</h3>
        <div class="storage-card__desc">
          <p>Капитальные строения (ангары, утеплённые склады)</p>
          <p>Высота потолков: от&nbsp;4&nbsp;м</p>
          <p>Бетонный или&nbsp;асфальтовый пол</p>
          <p>Простое инженерное оборудование</p>
        </div>
      </article>

      <article class="storage__card storage-card">
        <h3 class="accent storage-card__title">D</h3>
        <div class="storage-card__desc">
          <p>Неотапливаемые ангары, подвалы, производственные помещения</p>
          <p>Ангары из&nbsp;металлоконструкций</p>
          <p>Часто без&nbsp;систем охраны и&nbsp;автоматизации</p>
        </div>
      </article>
    </div>
  </div>
</section>
