<section class="suit">
  <div class="container">
    <div class="suit__header heading">
      <h2 class="suit__title">Для кого подходит</h2>

      <button class="btn btn_tri btn-nomob suit__btn">рассчитать проект</button>
    </div>

    <div class="suit__slider swiper slider-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="suit__card card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/suit/01-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/suit/01.webp"
                  class="image"
                  width="560"
                  height="400"
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">Промышленные предприятия</h3>
              <p>
                Производственные корпуса под конкретную технологию
                с&nbsp;крановым оборудованием, виброизоляцией, сложными
                фундаментами.
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="suit__card card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/suit/02-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/suit/02.webp"
                  class="image"
                  width="560"
                  height="400"
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">Ритейл и логистика</h3>
              <p>
                Склады под операционную модель компании с нужным температурным
                режимом, нагрузкой на полы, доковыми зонами и инженерией.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="suit__card card">
            <div class="card__img">
              <picture>
                <source
                  srcset="./img/suit/03-mob.webp"
                  type="image/webp"
                  media="(max-width: 576px)"
                />
                <img
                  loading="lazy"
                  src="./img/suit/03.webp"
                  class="image"
                  width="560"
                  height="400"
                  alt=""
                />
              </picture>
            </div>
            <div class="card__content">
              <h3 class="card__title">
                Коммунальные и инфраструктурные организации
              </h3>
              <p>
                Котельные, насосные станции, резервуары, теплотрассы — объекты,
                где остановка эксплуатации недопустима.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <button class="btn btn_tri btn-mob suit__btn">рассчитать проект</button>
  </div>
</section>
