<section class="trust">
  <div class="container">
    <h2 class="trust__title">нам&nbsp;доверяют</h2>
    <div class="trust__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trust__card">
            <img src="./img/trust/ozon.svg" width="293" height="64" alt="" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="trust__card">
            <img src="./img/trust/wb.svg" width="456" height="70" alt="" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="trust__card">
            <img src="./img/trust/hoff.svg" width="141" height="70" alt="" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="trust__card">
            <img src="./img/trust/dns.svg" width="210" height="52" alt="" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="trust__card">
            <img src="./img/trust/five.svg" width="141" height="94" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
